{% extends 'base.html' %}

{% block title %}
Обновление записи
{% endblock %}

{% block body %}
<h1>Обновление записи</h1>
<form method="post">
    <p>Название</p>
    <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}"><br>
    <p>Дата</p>
    <input type="text" name="date" id="date" class="form-control" value="{{ article.date }}"><br>
    <p>Количество шагов</p>
    <input type="number" name="steps" id="steps" class="form-control" value="{{ article.steps }}"><br>

    <input type="submit" class="btn btn-success" value="Отправить"><br>
</form>
{% endblock %}